/* Profile Section */
.profile-section {
    font-family: Arial, sans-serif;
    margin-top: 75px;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.005);
    text-align: center;
    height: 70vh; /* Set to full viewport height */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.invisible-box {
    width: 100%;
    max-width: 400px; /* Set a max-width for the form container */
    background-color: transparent; /* Invisible box */
    padding: 0px; /* Padding inside the box */
}

.login-form {
    display: flex;
    justify-content: space-around;
}

.login-form form {
    width: 100%;
}

/* Styling for the profile section */
#heading {
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 5px;
}

.input-container {
    position: relative;
    margin-bottom: 5px; /* Add spacing between inputs */
}

.input-container input {
    width: 100%;
    padding: 10px 90px 10px 10px; /* Padding to make space for button inside the input */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

/* Google Button */
.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    max-width: 100%;
    margin: 20px auto;
    width: 100%;
}

/* Google icon styling */
.google-icon {
    width: 23.5px;
    height: 23.5px;
    margin-right: 10px;
}

.google-btn:hover {
    background-color: #cccccc45;
    color: rgb(0, 0, 0);
}

/* Facebook Button */
.facebook-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b5998;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    max-width: 100%;
    margin: 20px auto;
    width: 100%;
}

/* Facebook icon styling */
.facebook-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.facebook-btn:hover {
    opacity: 0.9;
}

button[type="submit"]:hover {
    background-color: rgb(41, 41, 41);
    color: #ffffff;
}

p {
    text-align: center;
    font-size: 14px;
}

p a {
    color: rgb(13, 0, 255);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
